<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<style>
.white{
  color:white;
}
</style>
  <div class="field">
 <span class='white'>  用户名</span>
    <%= form.text_field :username %>
  </div>
<div class="field">
 <span class="white">密码</span> 
    <%= form.password_field :password %>
  </div>

  <div class="field">
  <span class="white">确认密码</span>  
    <%= form.password_field :password_confirmation %>
  </div>


  <div class="actions">
    <%= form.submit value:"提交" %>
  </div>
<% end %>
