<nav class="fh5co-nav" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-xs-2">
              <div id="fh5co-logo"><%= link_to 'YES简历',root_path %></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
              <ul>
                <li class="<%= @index%>"><%= link_to "首页",root_path%> </li>
                <li class="<%= @about%>"><%= link_to "关于" ,about_path%></li>
                <li class="has-dropdown">
                  <a href="services.html">Services</a>
                  <ul class="dropdown">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">eCommerce</a></li>
                    <li><a href="#">Branding</a></li>
                    <li><a href="#">API</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Tools</a>
                  <ul class="dropdown">
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">CSS3</a></li>
                    <li><a href="#">Sass</a></li>
                    <li><a href="#">jQuery</a></li>
                  </ul>
                </li>
                <li><a href="work.html">Work</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>
          
     </div>
</nav>
